.head-list{
    flex: 1;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -o-center;
    text-align: -ms-center;
    color: #00a2fb;
    font-size: 24px;
    font-weight: 600;
}